//fonts
@font-face {
    font-family: 'NotoSans-Light';
    src: url('../fonts/NotoSansKR-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSansKR-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'NotoSans-Medium';
    src: url('../fonts/NotoSansKR-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSans-Bold';
    src: url('../fonts/NotoSansKR-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'BM-Hanna';
    src: url('../fonts/BMHanna_11yrs_old.otf');
}

$font-light: 'NotoSans-Light';
$font-regular: 'NotoSans';
$font-medium: 'NotoSans-Medium';
$font-bold: 'NotoSans-Bold';
$font-hanna: 'BM-Hanna';

//flex
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-vertical {
    display: flex;
    align-items: center;
}
@mixin flex-horizontal {
    display: flex;
    justify-content: center;
}
@mixin ellipsis($line: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    @if $line==1 {
        white-space: nowrap;
    }
    @else {
        display: -webkit-box;
        white-space: normal;
        /*! autoprefixer: off */
        -webkit-line-clamp: $line;
        /*! autoprefixer: on */
        -webkit-box-orient: vertical;
    }
}

//color
$color-gray: #d6d7da;
$color-disabled: #232324;
$color-white: #fff;

@mixin vs {
    content: '';
    display: inline-block;
    position: absolute;
}