.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    background-color: $color-white;
    z-index: 999;
    transition: 1.5s;
    &.scroll {
        top: -100%;
    }
    &.header-hover {
        height: 160px;
    }
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
        .main-logo {
            @include flex-vertical;
            height: 95px;
            a {
                height: 31px;
            }
            svg {
                height: 100%;
            }
        }
        .gnb {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            ul {
                @include flex-vertical;
                height: 95px;
                li {
                    position: relative;
                    padding: 0 15px;
                    &:hover {
                        font-weight: bold;
                    }
                    &.music {
                        a {
                            &::after {
                                @include vs;
                                content: 'BETA';
                                top: -3px;
                                left: 100%;
                                margin-left: -15px;
                                font-family: $font-bold;
                                font-size: 10px;
                                color: rgba(35, 35, 36, .5);
                                line-height: 1;
                                transform: scale(.8)
                            }
                        }
                    }
                }
            }
        }
        .sub-gnb {
            @include flex-vertical;
            height: 95px;
            font-size: 12px;
            ul {
                display: flex;
                li {
                    &:hover {
                        font-weight: bold
                    }
                }
                a {
                    @include flex-vertical;
                    padding: 0 12px;
                    svg {
                        width: 8px;
                        height: 8px;
                        margin-left: 4px;
                    }
                }
            }
            .lang {
                button {
                    position: relative;
                    width: 36px;
                    height: 36px;
                    margin-bottom: 2px;
                    font-size: 12px;
                    font-family: $font-bold;
                    color: $color-gray;
                    &:disabled {
                        color: $color-disabled;
                    }
                    &.eng {
                        &::before {
                            @include vs;
                            width: 1px;
                            height: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            background: $color-gray;
                        }
                    }
                }
            }
        }
    }
}