@import 'base.css';
@font-face {
  font-family: "NotoSans-Light";
  src: url("../fonts/NotoSansKR-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansKR-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "NotoSans-Medium";
  src: url("../fonts/NotoSansKR-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "NotoSans-Bold";
  src: url("../fonts/NotoSansKR-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "BM-Hanna";
  src: url("../fonts/BMHanna_11yrs_old.otf");
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background-color: #fff;
  z-index: 999;
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.header .inner .main-logo {
  display: flex;
  align-items: center;
  height: 95px;
}
.header .inner .main-logo a {
  height: 31px;
}
.header .inner .main-logo svg {
  height: 100%;
}
.header .inner .gnb {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.header .inner .gnb ul {
  display: flex;
  align-items: center;
  height: 95px;
}
.header .inner .gnb ul li {
  padding: 0 15px;
}
.header .inner .sub-gnb {
  display: flex;
  align-items: center;
  height: 95px;
  font-size: 12px;
}
.header .inner .sub-gnb ul {
  display: flex;
}
.header .inner .sub-gnb ul a {
  display: flex;
  align-items: center;
  padding: 0 12px;
}
.header .inner .sub-gnb ul a svg {
  width: 8px;
  height: 8px;
  margin-left: 4px;
}
.header .inner .sub-gnb .lang button {
  position: relative;
  width: 36px;
  height: 36px;
  margin-bottom: 2px;
  font-size: 12px;
  font-family: "NotoSans-Bold";
  color: #d6d7da;
}
.header .inner .sub-gnb .lang button:disabled {
  color: #232324;
}
.header .inner .sub-gnb .lang button.eng::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #d6d7da;
}

/* main */
.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main-visual ul {
  display: flex;
}
.main-visual li {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
}
.main-visual li .image-wrap {
  width: 100%;
  height: 100%;
}
.main-visual li .image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-visual li .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: calc(50% + 40px);
  left: 50%;
  height: 275px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-visual li h3 {
  font-family: "NotoSans-Bold";
  font-size: 24px;
}
.main-visual li p {
  font-family: "BM-Hanna";
  font-size: 72px;
}
.main-visual li a {
  font-family: "NotoSans-Bold";
  font-size: 20px;
}